version: '3.8'
services:
  admin:
    image: mavens-admin:latest
    container_name: mavens-admin
    ports:
      - "3001:3001"
    environment:
      # ❌ DO NOT USE localhost:3000 inside a container
      # ✅ Use the service name of the backend container
      - NEXT_PUBLIC_API_URL=http://ec2-16-171-246-196.eu-north-1.compute.amazonaws.com/api
    env_file:
      - .env
     #- ~/apps/next/.env
    networks:
      - mavens-network

networks:
  mavens-network:
    external: true # <--- Joins the same network as backend